*{
  margin: 0;
  padding: 0;
  block-size: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;

}
.app{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2f9e3c;
  gap: 1rem;
}